@import "tailwindcss";

@theme {
  --color-heritage-bg: #F2EDE2;
  --color-heritage-frame: #679F9F;
  --color-heritage-logo: #135A42;
  --color-heritage-btn: #679F9F;
  --color-heritage-input: #CDE4F3;
  --color-heritage-register: #A3E4D7;

  --font-jersey: var(--font-jersey);

  /* แก้ไข: ใช้ค่าเงาที่นุ่มนวลขึ้นสำหรับ Text Logo */
  --shadow-logo-text: 0 4px 6px rgba(0, 0, 0, 0.15);
}

@layer base {
  body {
    @apply bg-heritage-bg text-[#171717] antialiased;
  }
}